<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where it's @</title>
    <link rel="stylesheet" href="css/verify.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="staff-wrapper">
        <header class="header">
            <img src="../img/logo.png" alt="logo" class="logo">
            <p class="h3">Where It's @</p>
            <p class="h2">STAFF</p>
        </header>
        <div id="noTicket"></div>



        <div class="snack-wrap">
            <input type="checkbox" class="snackclose animated" id="close"/><label class="snacklable animated" for="close"></label>  
            <div id="message" class="snackbar animated">
            
            </div>
        </div>
        
        <main id="tickets">
            
        </main>
    </div>

    <script src="js/verify.js"></script>
</body>
</html>