<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Ticket Master</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="container">
        <img src="./img/logo-colour.png">
        <h1>Where it's@</h1>
        <section>
            <a class="btn" href="./user/events.html">User</a>
            <a class="btn" href="./staff/login.html">Staff</a>
            <a class="btn" href="./admin/admin.html">Admin</a>
        </section>
    </div>
</body>
</html>